@font-face{
  font-family: Gilroy;
  src: url(fonts/Gilroy-Regular.ttf);
  font-weight: 100;
  font-style: normal
}

@font-face{
  font-family: Gilroy;
  src: url(fonts/Gilroy-Medium.ttf);
  font-weight: 500;
  font-style: normal
}

@font-face{
  font-family: Gilroy;
  src: url(fonts/Gilroy-SemiBold.ttf);
  font-weight: 600;
  font-style: normal
}

@font-face{
  font-family: Gilroy;
  src: url(fonts/Gilroy-Bold.ttf);
  font-weight: 700;
  font-style: normal
}

@font-face{
  font-family: Gilroy;
  src: url(fonts/Gilroy-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal
}

@font-face{
  font-family: Gilroy;
  src: url(fonts/Gilroy-Black.ttf);
  font-weight: 900;
  font-style: normal
}

body {
  margin: 0;
  padding: 0;
  font-family: Gilroy, sans-serif;
  font-weight: 500px;
  background-color: white;
}

body > * {
    position: relative;
    top: 77.54px;
}


.navbar-nav li a {
    color: #424242 !important;
    font-size: 16px;
    text-decoration: none;
    padding: 15px 0px;
}

.navbar-nav li{
    padding: 0px 10px !important;
}

.dropdown-toggle::after {
    display: none;
}

.navbar-brand img:first-child {
  display: block;
}

.navbar-brand img:last-child {
  display: none;
}

.navbar-nav>li:focus, .navbar-nav>li:hover {
  background-color: #eee !important;
  border-radius: 5px;
}

.nav-link button {
  width: 110px;
  height: 43px;
  font-weight: 700;
}

.join-btn-1 a button:hover {
  background-color: #0096d9 !important;
}

.join-btn-2 a button:hover {
  background-color: #0096d9 !important;
}

.join-btn-1 {
  display: none;
}

.join-btn-2 {
  display: block;
}

.help-icon {
  display: none;
}

.btn:focus {
  box-shadow: none;
}

.dropdown-menu {
  border: none;
  background-color: #fafafa;
}

.dropdown-item {
  padding: 10px 15px !important;
  border-top: 1px solid #f5f5f5;
  width: 180px
}

.speaker-icon {
  display: block;
}

.hero {
  height: 555px;
}

.services-btn, .signin-btn {
  display: none;
}

.nav-right .dropdown a, .sign-in {
  display: block;
}

.nav-right .services-btn, .nav-right .services-btn a, .nav-right .services-btn a button,
.nav-right .signin-btn, .nav-right .signin-btn a, .nav-right .signin-btn a button {
  width: 100%;
  font-size: 16px;
  height: 60px;
}

.hero {
  padding: 40px 0;
  margin-bottom: 90px;
}

.title h1 {
  font-size: 50px;
  text-align: center;
}

.heo .description {
  width: 385px;
}

.description {
  font-weight: 100;
  text-align: center;
  align-self: center;
  line-height: 20.8px;
}

.hero button:hover {
  background-color: #0096d9 !important;
  color: white;
}

.hero button {
   width: 167.5px;
   height: 55px;
   font-weight: 700;
   color: white;
   background-color: #00B0FF
}

.row-2 .card {
  width: 460px;
  height: 450px;
  margin-bottom: 20px;
}

.laf .row:last-child .card {
  width: 940px;
}

.row-2 .col-lg-6 {
  padding: 0 10px;
}

.laf, .gftp, .lwpt {
  margin-bottom: 90px;
}

.row-2 .col-lg-6:first-child {
  justify-content: flex-end;
}

.row-2 .col-lg-6:last-child {
  justify-content: flex-start;
}

.laf .row-2 .col-lg-6:first-child .card {
  background-size: auto;
  background-position-y: 245px;
  background-position-x: center;
}

.laf .row:last-child .card {
  background-position-x: right;
  height: 400px;
}

.laf .row:last-child .card-text {
  width: 445px;
  margin: auto 0 auto 0;
  align-self: flex-start;
}

.card {
  border: none;
  border-radius: 0;
  background-color: #F5F5F5;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: bottom;
}

.card-text {
  text-align: center;
  margin-top: 40px;
  align-self: center;
  color: #424242;
}

.card-text h4 {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 20px;
}

.card-text h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.card-text .description {
    width: 310px !important;
    margin-bottom: 20px;
}

.card-text a {
    color: #00B0FF;
    border-bottom: 2px solid #00B0FF;
    padding-bottom: 3px;
    font-weight: 600;
}

.card-text a:hover {
    text-decoration: none;
    color: #0091EA;
    border-bottom-color: #0091EA;
}

.laf h2, .gftp h2, .lwpt h2 {
   font-weight: 600;
   text-align: center;
   color: #424242;
}

.lwpt .card {
  width: 300px;
  height: 400px;
}

.lwpt .col-lg-4 {
  padding: 0 10px;
  justify-content: center;
}

.lwpt .card-text {
  padding: 30px 0;
  margin: 0;
}

.lwpt .card-text h3 {
  margin: 25px 0;
}

.lwpt .col-lg-4:first-child .card {
  background-size: 295px;
  background-position: center 235px;
}

.lwpt .col-lg-4:nth-child(2) .card {
  background-size: 165px;
  background-position: center 250px;
}

.lwpt .col-lg-4:last-child .card {
  background-size: 260px;
  background-position: center 255px;
}

.trust-pilot {
  padding-top: 70px;
  margin: 0 20px;
  background-color: #F5F5F5;
}

.rating img {
  width: 155px;
}

.review-card {
  padding: 15px 15px 0 15px;
  margin: 10px;
  background-color: white;
}

.review-header {
  margin-bottom: 10px;
  color: #9E9E9E;
}

.name {
  margin: 3px 0 0 15px;
}

.review-header {
  font-weight: 600;
}

.date {
  margin-top: 3px;
}

.review {
    margin: 40px 0 80px;
}

.name span {
  font-weight: 100;
}

.review-text {
  width: 645px;
  color: #424242;
}

.review-text h3 {
  font-size: 18px;
  font-weight: 600;
}

.review-text p {
  font-size: 16px;
  font-weight: 100;
}

.footer {
  padding: 70px 80px;
}

.footer-content h5 {
    font-size: 16px;
    color: #9E9E9E;
    margin-bottom: 15px;
}

.footer-content ul li {
    font-size: 20px;
    list-style: none;
    margin-bottom: 10px;
}

.footer-content ul li a {
    text-decoration: none;
    color: #424242;
}

.footer-content ul {
    padding: 0px;
}

.footer-content {
    margin-right: 10%;
}

.footer-sm img {
    height: 27px;
    margin-right: 15px;
}

.content-menu {
  padding-bottom: 45px;
}

.footer-top {
  border-bottom: 1px solid #E5E5E5;
  margin: 0 0 30px 0;
}

.footer-bottom img {
  height: 40px;
}

.download img {
  height: 45px;
}

.download {
  justify-content: end;
  width: 42%;
}

.terms ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
}

.terms {
    width: 360px;
    align-self: center;
}

.terms ul li a {
    color: #424242;
    text-decoration: none;
}

.footer-bottom {
  margin-bottom: 25px;
}

.small-info p {
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 600;
    color: #9E9E9E;
}

.navbar {
    border-bottom: 0.0625rem solid #F5F5F5;
}

.floating-boxchat {
  
}

@media (max-width: 992px) {

  body > * {
      position: relative;
      top: 69px;
  }

  .navbar-brand img:first-child {
    display: none;
  }

  .navbar-brand img:last-child {
    display: block;
  }

  .speaker-icon {
    display: none;
  }

  .join-btn-1 {
    display: block;
    margin-left: 0 !important;
  }

  .join-btn-1 .nav-link {
    padding: 5px;
  }

  .join-btn-2 {
    display: none;
  }

  .help-icon {
    display: block;
  }

  .navbar-nav>li:focus, .navbar-nav>li:hover {
    background-color: #fff !important;
    border-radius: 5px;
  }

  .nav-left li a {
    font-size: 30px;
  }

  .nav-left li {
    align-self: flex-start;
  }

  .nav-left li:first-child {
    margin-top: 15px;
  }

  .nav-left .dropdown .dropdown-menu a {
    font-size: 22px;
    padding: 7.5px 0 !important;
    color: #848484 !important;
    background-color: white;
    border-top: none;
  }

  .nav-left .dropdown .dropdown-menu {
    margin-top: 0 !important;
  }

  .services-btn, .signin-btn {
    display: block;
  }

  .sign-in, .nav-right .dropdown a {
    display: none;
  }

  .hero {
    height: 400px;
    margin-bottom: 60px;
  }

  .title h1 {
    font-size: 35px;
  }

  .title {
    margin-top: 0 !important;
  }

  .description {
    width: 285px;
  }

  .laf, .gftp, .lwpt {
    margin-bottom: 60px;
  }

  .row-2 .card {
    width: 670px;
  }

  .row-2 .col-lg-6 {
    justify-content: center !important;
  }

  .row-2 .col-lg-6:first-child .card {
    background-position-y: bottom !important;
  }

  .row-2 .col-lg-6:last-child .card {
    background-size: auto;
    background-position-x: center;
  }

  .laf .row:last-child .card {
    width: 670px;
    background-position-x: 300px;
  }

  .laf .row:last-child .card-text {
    width: 330px;
  }

  .laf .row:last-child .description {
    width: 255px !important;
  }

  .gftp .col-lg-6:first-child .card {
    margin-bottom: 20px !important;
  }

  .lwpt .col-lg-4:first-child .card {
    margin-bottom: 20px !important;
  }

  .lwpt .col-lg-4:nth-child(2) .card {
    margin-bottom: 20px !important;
  }

  .lwpt .card {
    width: 670px;
    height: 255px;
  }

  .lwpt .col-lg-4:first-child .card {
    background-size: 416px;
    background-position: right 35px;
  }

  .lwpt .col-lg-4:nth-child(2) .card {
    background-size: 220px;
    background-position: 350px 60px;
  }

  .lwpt .col-lg-4:last-child .card {
    background-size: 300px;
    background-position: 315px 85px;
  }

  .lwpt .card-text {
    margin-right: 370px;
  }

  .review-text {
    width: 520px;
  }

  .trust-pilot {
    margin: 0;
  }

  .footer-content h5 {
      font-size: 14px;
      margin-bottom: 10px;
  }

  .footer-content ul li {
      font-size: 17px;
  }

  .footer-bottom {
    flex-direction: column-reverse;
  }

  .content-menu {
    padding-bottom: 0;
  }

  .footer-top {
    border-bottom: none;
  }

  .download img {
    height: 65px;
  }

  .download {
    width: 102%;
    justify-content: flex-start;
    position: relative;
    left: -10px;
    padding-bottom: 30px;
    border-bottom: 1px solid #E5E5E5;
  }

  .footer-bottom-left {
    justify-content: space-between;
    margin-top: 30px;
  }

  .terms ul {
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .hero {
    height: 835px;
    margin: 0 15px 60px 15px;
  }

  .app-preview {
    height: 52.5% !important;
    background-position-x: center;
  }

  .laf .card {
    height: 500px !important;
  }

  .laf .row:last-child .card-text {
    margin: 0 auto 0 auto !important;
    padding-top: 40px;
  }

  .laf .row:last-child .card {
    background-size: 240px;
    background-position: 100% 100%;
  }

  .laf .row:last-child .description {
    width: 310px !important;
  }

  .lwpt .card {
    height: 490px;
  }

  .lwpt .card-text {
    margin: 0;
    padding: 40px 0;
  }

  .lwpt .col-lg-4:first-child .card {
    background-size: 370px;
    background-position: center 245px;
  }

  .lwpt .col-lg-4:nth-child(2) .card {
    background-size: 215px;
    background-position: center 260px;
  }

  .lwpt .col-lg-4:last-child .card {
    background-size: 303px;
    background-position: center 295px;
  }

  .trust-pilot {
    padding-top: 50px;
  }

  .review-text {
    width: 300px;
  }

  .review-card {
    padding: 25px 25px 0 25px;
  }

  .rating img {
    width: 94px;
  }

  .rating {
    flex-direction: column;
  }

  .name {
    margin: 5px 0 0 0;
  }

  .trust-pilot > .container > h3 {
    width: 300px;
    font-size: 28px;
  }

  .content-menu, .footer-top {
    flex-direction:  column;
  }

  .footer-content {
    margin-bottom: 25px;
  }

  .footer {
    padding: 20px 40px 70px;
  }

  .content-menu {
    padding-bottom: 0;
  }

  .footer-top {
    border-bottom: none;
  }
}
